.card{
    display: flex;
    box-sizing: border-box;
    box-shadow: -0.5rem 0.5rem 3rem 0.5rem #ccc; 
    margin: 2rem;
    margin-left: 3.5rem;
    padding: 2rem 2rem;
    max-width: 20rem;
    height: 13rem;
    transition: transform 450ms;

}
.image{
    width: 65%;
    height: auto;
    padding-right: 1rem;
}
.card > h4{
    margin-top: 4rem;
    color: white;
}
.card:hover{
    transform: scale(1.08);
}