@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
$text-color: #fff;
$color-primary: #3e84b3;

$breakpoint-medium: 1224px;
$breakpoint-small: 520px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1px;
 }
 